.rc-input {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.rc-input__field {
    padding: 8px 36px 8px 8px;
    font-size: 14px;
}

.rc-input__icon,
.rc-input__clear {
    position: absolute;
    right: 6px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.rc-input__clear {
    right: 30px;
}